.job {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem hsla(180, 29%, 50%, 0.383);
}

.job.border {
    border-left: 0.4rem solid var(--primary-400);
}

.job__left,
.job__left__info__header,
.job__left__info__footer,
.job__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.company__title {
    color: var(--primary-400);
    margin-bottom: 0.2rem;
}

._tag {
    padding: 0.7rem 0.5rem;
    color: white;
    line-height: 0;
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 0.8rem;
}

.new {
    background-color: var(--primary-400);
}

.featured {
    background-color: var(--primary-600);
}

.job__title {
    color: var(--primary-600);
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

.job__left__info__footer {
    gap: 2rem;
}

.job__left__info__footer p {
    color: var(--primary-500);
    position: relative;
}

.job__left__info__footer p:not(:last-child):after {
    content: "";
    position: absolute;
    height: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-500);
    top: 50%;
    right: -1rem;
    transform: translateY(-30%);
}
